
.container{
    width: 50%;
    height: 150px;
    margin:0 auto;
    display: flex;
}

.col_1{
    background-color: blue;
    flex-basis: 25%;
}

.col_2{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border: 1px solid red;
}

.box_1{
    background-color: aqua;
    flex-basis: 100%;
}

.box_2{
    background-color: aquamarine;
    flex-basis: 100%;
}