#one{
    background-color: yellow;
    border: 5px solid blue;
    height: 100px;
}


#two{
    background-color: blue;
    border: 5px solid black;
    height: 100px; 
    width: 15%;
    float: left;
  
}


#three{
    background-color: green;
    border: 5px solid black;
    height: 100px;
    width: 83.9%;
    float: left;
}
#float{
    overflow: auto;
}
#four{
    background-color: purple;
    border: 5px solid Red;
    height: 100px;
}