*{
    font-size: 10px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    width: 10px;
    height: 10px;
}

body>header, nav{
    text-align: center;
}
nav{
    margin: 15px 0;
}

li{
    padding: 0 15px;
    display: inline;
}

div{
    display: flex;
}

article{
    flex-basis: 80%;
    padding: 10px
}

article>header{
    text-align: center;
}

aside{
    padding: 10px;
}

footer{
    
    text-align: center;
}